@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    min-height: 100%;
    font-family: sans-serif;
    height: fit-content;
}

