/* css style sheet from portfolio */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background:#b7b7b7;
}

body{
    background:#b7b7b7;
}

.hero{
    position: absolute;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    background: #b7b7b7;
    top: 25%;
    left: 22%;
}

/*--nav bar--*/

nav{
    display: flex;
    width: 84%;
    margin: auto;
    border-radius: 1px;
    padding: 10px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding: 5px 10px;
    font-weight: 1000;
    font-size: 18px;
    color:#414a7a;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after{
    content: '';
    background: rgba(245, 245, 245, 0.356);
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s; 
}

nav ul li a:hover{
    color: white;

}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

nav ul li a{
    text-decoration: none;
    color: #414a7a;
    font-weight: 1000;
    font-size: 18px;
    letter-spacing: 0.5px;
    
    
}

/*--about me, for homepage. aboutmebio relates to about me tab--*/

.aboutme{
    margin-left: 5%;
    margin-top: 8%;
    width: 40%;
    height: 40%;
    margin-bottom: 7%;
}

.aboutme h1{
    font-size: 70px;
    color:rgb(59, 54, 54);
    margin-bottom: 30px;
}


span{
    color:#414a7a;
    font-weight: bolder;
}

.aboutme p{
    color: #555;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2em;
    margin-bottom: 10px;
}

.aboutmebio{
    margin-left:5%;
    margin-top: 5%;
    width: 40%;
    height: 40%;
    margin-bottom: 3%;
}

.aboutmebio h1{
    font-size: 42px;
    color:rgb(59, 54, 54);
    margin-bottom: 30px;
}

.aboutmebio p{
    color: #555;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    
}



.aboutmelink {
    background: #414a7a;
    padding: 10px 18px;
    text-decoration: none;
    font-weight:bold;
    color: #ffffff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.image{
    width: 55%;
    height:55%;
    position:absolute;
    bottom: 10%;
    left: 50%;
}

.image img{
    height: 100%;
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
/*animations for pictures in about me and homepage*/
.animation {
    animation: animation 3s ease-out;
}

@keyframes animation {
    0% {
      opacity: 0;
      left: -700px;
    }
    100% {
      opacity: 1;
      left: 50%;
    }
  }

/*animations for work projects page*/

.animation2{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 }

 /*--work projects page--*/
.workprojects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 115vh;
}
.thumbnail{
    background-color: #b7b7b7;
    width: 350px;
    height: 450px;
    padding: 2em;
    margin: 3rem;
    
}

.thumbnail p{
    background-color: #b7b7b7;
    
}

.thumbnail img{
    width: 300px;
    height: 270px;
    filter: opacity(0.2);
    filter: grayscale(0.8);
    transition: filter 0.4s ease-in-out;
}

.thumbnail:hover img{
    filter: none;
}

.thumbnail:hover {
    transition: box-shadow .5s ease-out;
    box-shadow: 8px 5px 20px 5px #414a7a;
    cursor: pointer; 
}

.caption {
    width: 300px;
    margin-top: .5em;
}
.caption h3 {
    color:#414a7a;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 20px;
}
.caption p{
    color:#555;
    font-weight: bold;
    font-size: 12px;
}

/* resume tab */

/*--contact me tab--*/

.contactmecontainer{
    justify-content: center;
    align-items: center;

}
.contactmebio h7{
    text-align:center;
    font-size: 75px;
    color:rgb(59, 54, 54);
    margin-bottom: 30px;
}

.contactmebio ul li{
    line-height: 6em;
}
.contactmebio ul li a {
    font-size: 24px;
    color:#555;
    
}
.contactmebio ul li a:hover {
    color: #ffffff;
}
    
.emailcontainer{
    width: 48%;
    height: auto;
    background: #b7b7b7;
    display: flex;
    align-items:center;
    justify-content: center;
}

form{
    background:white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 50vh;
    max-width: 600px;
    border-radius: 10px;

}

form h3{
    color: #555;
    background-color: white;
    font-weight: 800;
    margin-bottom:20px;
    text-align: center;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px; 
    outline: none;
    background: #f5f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #414a7a;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 20px auto 0;
    border-radius: 30px;
}
/*footer*/
footer {
    position: relative;
    top: 1em;
    line-height: 1px;
    letter-spacing: 1px;
    text-align: center;
  }

footer h5{
    margin-top: 0;
    font-size: 60%;
}

.footercontainer{
    display: flex;
    position:relative;
    left: 1%;
    top: 20em;
    justify-content: flex-end;
}
.footerwork{
    position:relative;
    height: 5%;
    width: 20%;
    margin: 0;
    border-top: 50px #b7b7b7;

}
